{% set job = item.0.key %}
{% set input_device = item.1 %}
{% set input_device_sanitised = item.1 | regex_replace('^\\/', '') | regex_replace('/', '_') %}
{% if 'iodepth' in fio_jobs[item.0.key] %}{% set iodepth = fio_jobs[item.0.key]['iodepth'] %}{% else %}{% set iodepth = fio_global_options['iodepth'] %}{% endif %}
{% if 'numjobs' in fio_jobs[item.0.key] %}{% set numjobs = fio_jobs[item.0.key]['numjobs'] %}{% else %}{% set numjobs = fio_global_options['numjobs'] %}{% endif %}
[global]
{% for o in fio_global_options | dict2items %}
{{ o.key }}{{ "=" ~ o.value if o.value|string != "None" else "" }}
{% endfor %}
filename={{ input_device }}

### {{ job }} ###
[{{ job }}]
{% for op in item.0.value | dict2items %}
{{ op.key }}{{ "=" ~ op.value if op.value|string != "None" else "" }}
{% endfor %}{# job options loop #}
write_bw_log={{ fio_output_dir }}/${FIO_JOB_DATE}/{{ input_device_sanitised }}/{{ job }}/{{ fio_jobs[item.0.key]['rw'] }}-iodepth-{{ iodepth }}-numjobs-{{ numjobs }}
write_iops_log={{ fio_output_dir }}/${FIO_JOB_DATE}/{{ input_device_sanitised }}/{{ job }}/{{ fio_jobs[item.0.key]['rw'] }}-iodepth-{{ iodepth }}-numjobs-{{ numjobs }}
write_lat_log={{ fio_output_dir }}/${FIO_JOB_DATE}/{{ input_device_sanitised }}/{{ job }}/{{ fio_jobs[item.0.key]['rw'] }}-iodepth-{{ iodepth }}-numjobs-{{ numjobs }}
