{% set input_device_sanitised = item | regex_replace('^\\/', '') | regex_replace('/', '_') %}
#!/bin/bash

dropcaches() {
  echo 3 | tee /proc/sys/vm/drop_caches && sync
}

export FIO_JOB_DATE=$(date +'%Y-%m-%d_%H:%M')

{% for job in fio_jobs %}
mkdir -p "{{ fio_output_dir }}/${FIO_JOB_DATE}/{{ input_device_sanitised }}/{{ job }}"
echo
echo "### Starting fio tests from {{ fio_output_dir }}/job_{{ input_device_sanitised }}_{{ job }}.fio"
echo

dropcaches

fio "{{ fio_output_dir }}/job_{{ input_device_sanitised }}_{{ job }}.fio" \
  --output "{{ fio_output_dir }}/${FIO_JOB_DATE}/{{ input_device_sanitised }}/{{ job }}/{{ job }}_fio.log"

{% endfor %}
